{% extends "base.html" %}

{% block content %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{% url 'products:detail' product.id %}">{{ product.code}}</a>
                    </td>
                    <td>{{ product.type}}</td>
                    <td>{{ product.name}}</td>
                    <td>{{ product.description}}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% endblock  %}